# SPDX-FileCopyrightText: 2026 fuddlesworth
# SPDX-License-Identifier: LGPL-2.1-or-later
[Desktop Entry]
Type=Application
Name=GNOME Only Tool
Exec=gnome-only-tool
OnlyShowIn=GNOME;
