# SPDX-FileCopyrightText: 2026 fuddlesworth
# SPDX-License-Identifier: LGPL-2.1-or-later
[Desktop Entry]
Type=Application
Name=Files
GenericName=File Manager
Exec=files
Icon=system-file-manager
