#!/usr/bin/make -f
# PlasmaZones Debian build rules
# SPDX-License-Identifier: GPL-3.0-or-later

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
		-DBUILD_TESTING=OFF

override_dh_auto_test:
	# Skip tests during package build
